




<main>
 <h2>Follower Users</h2>

  <div class="container px-5 px-sm-0">
    <div class="row">


     <table class="table">
      <thead>
        <tr>
          <th cope="col">image</th>
          <th cope="col">name</th>
          <th cope="col"></th>
          <th cope="col"></th>
          <th cope="col"></th>
        </tr>
      </thead>

      <% if @users.exists? %>
      <% @users.each do |user| %>
      <tbody>
        <tr>
         <td><span><%= link_to user_path(user.id) do %><%= image_tag user.get_profile_image(100,100) %><% end %></span></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td><span><%= link_to " Show " , user_path(user.id) %>  </span></td>
        </tr>
      </tbody>
       <% end %>
    </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</div>
</div>
</main>