<h2>User info</h2>


<tbody>
  <table class="table table">
    <p><%= image_tag user.get_profile_image(100,100) %></p>
<tobody>
  <tr>
    <th scope="row"><p>name </p></th>
    <th scope="row"><p> <%= user.name %></p></th>
  </tr>
</tobody>
<tobody>
  <tr>
    <th  scope="row"><p>introduction</p></th>
    <th  scope="row"><p> <%= user.introduction %></p></th>
 </tr>
</tobody>
<tobody>
  <tr>
    <th  scope="row">follows</th>
    <th  scope="row"><span><%= link_to user.followings.count, user_followings_path(user.id) %></span></th>
  </tr>
</tobody>
<tobody>
  <tr>
    <th  scope="row">followers</th>
    <th  scope="row"><span><%= link_to user.followers.count,  user_followers_path(user.id) %></span></th>
  </tr>
</tobody>
</table>


