
<!--Usersの一覧-->

<!-- ユーザーの詳細 -->
<%= render 'books/list', user: @user %>

<!--newbook/エラー文テンプレート-->
<%= render 'books/book', book: @book %>



<!-- ユーザー一覧 -->

<h1>Users</h1>

<% @users.each do |user| %>
<div>
   <p>image<%= image_tag user.get_profile_image(100,100) %></p>
  <p></p>name<%= user.name %></p>
 <span><%= link_to " Show " , user_path(user.id) %>  </span>
</div>
<% end %>


