
<!--homeボタンマイページ-->

<h1>aa</h1>

<!-- ユーザーの詳細 -->
<%= render 'books/list', user: @user %>

<!--newbook/エラー文テンプレート-->
<%= render 'books/book', book: @book %>

<!-- ユーザーの投稿一覧 -->

<h1>Books</h1>

<% @books.each do |book| %>
<div>
 <%= image_tag @user.get_profile_image(100,100) %>
  <span>Title<%= link_to book.title, book_path(book.id) %></span>
  <p>Opinion<%= book.body %></p>
</div>
<% end %>



