<!-- ユーザーの詳細 -->
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name <%= @user.name %></p>
  <p>introduction <%= @user.introduction %></p>
</div>

<!-- ユーザーの投稿一覧 -->

<h1>Books</h1>

<% @books.each do |book| %>
<div>
   <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <span>Title<%= link_to book.title, book_path(book.id) %></span>
  <p>Opinion<%= book.body %></p>
</div>
<% end %>



