<!--newbook/エラー文テンプレート-->



<h2>New book</h2>


  <%= form_with model: book do |f| %>
    <div class="form-group">
      <label for="book_title">Title</label>
      <%= f.text_field :title ,class:"form-control book_title" %>
    </div>
    <div class="form-group">
      <label for="book_opinion">Opinion</label>
      <%= f.text_area :body ,class:"form-control book_body" %><br>
    </div>
    
    <!--☆評価-->

   <% if book.id === nil %>
    <div class="form-group" id="star">
      <%= f.label :rate %>
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>
    
    <div id="post_raty"></div>
    <script>
      $(document).on('turbolinks:load', function() {
      let raty_elem = document.querySelector('#post_raty');
      raty_elem.innerHTML = ""
      let option = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'book[rate]',
        };
      raty(raty_elem,option);
     });
    </script>
    
   
  <% else %>
    <%= render "static_rate", book: book %>
  <% end %>
  

   <div><%= f.submit ' Create Book ',class:"btn btn-success" %></div>
   <% end %>


