
<!--Booksボタン　Book一覧-->


<h1>a book</h1>

<%= render 'list', user: @user %>
<%= render 'book', book: @book %>


<h1>Books</h1>

<% @books.each do |book| %>
<div>
   <%= image_tag @user.get_profile_image(100,100) %>
  <span>Title<%= link_to book.title, book_path(book.id) %></span>
  <p>Opinion<%= book.body %></p>
</div>
<% end %>



