



<div>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<h1>User info</h1>

<!-- ユーザーの詳細 user/show-->
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name <%= @user.name %></p>
  <p>introduction <%= @user.introduction %></p>
</div>


<div>
 <% if @user == current_user %>
    <%= link_to " Edit ",edit_user_path(@user.id) %>
  <% end %>
</div>




<h1>Books</h1>

<% @books.each do |book| %>
<div>
  <span>Title<%= link_to book.title, book_path(book.id) %></span>
  <p>Opinion<%= book.body %></p>
</div>
<% end %>


<h1>New book</h1>

  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %><br>
    <%= f.submit ' Create Book ' %>
  <% end %>


