
<!--Booksボタン　Book一覧-->



  <div>
  <% if @book.errors.any? %>
   <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
</div>


<main>
<p><%= flash[:notice] %></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <%= render 'list', user: @user %>
        <%= render 'book', book: @book %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Opinion</th>
                <th scope="col"></th>
              </tr>
          </thead>
          <% @books.each do |book| %>
            <tbody>
              <tr>
                <td><span><%= link_to user_path(book.user.id) do %><%= image_tag book.user.get_profile_image(100,100) %><% end %></span></td> <!--link_toを入れる-->
                <td><span><%= link_to book.title, book_path(book.id) %></span></td>
                <td><p><%= book.body %></p></td>
                <% if @book.favorited_by?(current_user) %>
                  <td><p><%= link_to book_favorites_path(@book),methood: :delete do %>
                    🤍<%= @book.favorite.count %>いいね
                      <% end %>
                  </p></td>
                    <% else %>
                  <td><p><%= link_to book_favorites_path(@book),method: :post do %>
                    ♡<%= @book.favorites.count %>いいね
                     <% end %>
                  </p></td>
                <% end %>
                <td> <p><%= link_to "#{book.book_comments.count} コメント", book_path(book.id) %></p></td>
              </tr>
            </tbody>
          <% end %>
         </table>
      </div>
    </div>
  </div>
</main>

