
<!--マイページ内のbookの詳細(homeボタン→title)-->




<main>
   <p><%= flash[:notice] %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/list2', user: @user %><!-- ユーザーの詳細 -->
        <%= render 'book', book: @books %><!--newbook/エラー文テンプレート-->
      </div>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail!</h2>
            <table class="table">
              <tbody>
                <tr>
                  <td><p><%= image_tag @book.user.get_profile_image(100,100) %></p>
                    <span><%= link_to @book.user.name, user_path(@user.id) %></span>
                  </td>
                  <td> <span><%= link_to @book.title, book_path(@book.id) %></span></td>
                  <td><p><%= @book.body %></p></td>


                  <td id="favorite_buttons_<%= @book.id %>">
                  <%= render "favorites/favorites", book: @book %>
                　</td>
                　<td>コメント数：<%= @book.book_comments.count %></td>
                  <% if @book.user == current_user %>
                    <td> <%= link_to " Edit ",  edit_book_path(@book.id) ,class:"btn btn-success" %></td>
                    <td> <%= link_to " Destroy ", book_path(@book),class:"btn btn-danger", method: :delete,"data-confirm" => "本当に消しますか？" %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
            <div>
            <table>
              <tbody
                
                  <% @book.book_comments.each do |book_comment| %>
                  <tr>
                    <td><p><%= image_tag book_comment.user.get_profile_image(50,50) %></p>
                     <span><%= link_to @book.user.name, user_path(@user.id) %></span>
                    </td>
                    <td><%= book_comment.comment %></td>
                    <td><% if book_comment.user == current_user %>
                      <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"  %>
                    </td>
                    <% end %>
                  <% end %>
                  
                </tbody>
              </table>
                </div>
                <div>
                  <%= form_with model: [@book, @book_comment] do |f| %>
                    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "w-100"  %>
                    <%= f.submit "送信する" %>
                  <% end %>
                </div>
                </tr>

        </div>
    </div>
  </div>
</main>
