
<!--マイページ内のbookの詳細(homeボタン→title)-->

<h1>a1</h1>

<%= render 'list', user: @user %>
<%= render 'book', book: @books %>

<h1>Book detail!</h1>

<div>
  <span><%= link_to @book.title, book_path(@book.id) %></span>
  <p><%= @book.body %></p>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <span><%= link_to @book.user.name, user_path(@user.id) %></span>

    <% if @book.user == current_user %>
    <%= link_to " Edit ",  edit_book_path(@book.id) %>
    <%= link_to " Destroy ", book_path(@book), method: :delete,"data-confirm" => "本当に消しますか？" %>
  <% end %>

</div>


