

<div>
  <p>Title：<%= @book.title %></p>
  <p>Body：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
    <% if @book.user == current_user %>
    <%= link_to " Destroy ", book_path(@book), method: :delete %>
  <% end %>

</div>
