
<!--マイページ内のbookの詳細(homeボタン→title)-->




<main>
   <p><%= flash[:notice] %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'list', user: @user %><!-- ユーザーの詳細 -->
        <%= render 'book', book: @books %><!--newbook/エラー文テンプレート-->
      </div>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail!</h2>
            <table class="table">
              <tbody>
                <tr>
                  <td><p><%= image_tag @book.user.get_profile_image(100,100) %></p>
                    <span><%= link_to @book.user.name, user_path(@user.id) %></span>
                  </td>
                  <td> <span><%= link_to @book.title, book_path(@book.id) %></span></td>
                  <td><p><%= @book.body %></p></td>

                  <% if @book.favorited_by?(current_user) %>
                  <td><%= link_to book_favorites_path(@book), method: :delete do %>
                  🤍<%= @book.favorites.count %>いいね
                  <% end %></td>
                  <% else %>
                  <td><%= link_to book_favorites_path(@book), method: :post do %>
                  ♡<%= @book.favorites.count %>いいね
                  <% end %></td>
                  <% end %>
                   <p><%= link_to " #{@book.book_comments.count} コメント", book_path(@book.id) %></p>
                  <% if @book.user == current_user %>
                    <td> <%= link_to " Edit ",  edit_book_path(@book.id) ,class:"btn btn-success" %></td>
                    <td> <%= link_to " Destroy ", book_path(@book),class:"btn btn-danger", method: :delete,"data-confirm" => "本当に消しますか？" %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
            <div>
                   <p>コメント数：<%= @book.book_comments.count %></p>
                  <% @book.book_comments.each do |book_comment| %>
                    <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
                    <%= book_comment.user.name %>
                    <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
                    <% if book_comment.user == current_user %>
                     <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <%= form_with model: [@book, @book_comment] do |f| %>
                    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "w-100"  %>
                    <%= f.submit "送信する" %>
                  <% end %>
                </div>

        </div>
    </div>
  </div>
</main>
