
<!--ヘッターとフッター共通部分-->

<div>
  <%= flash[:notice] %>
</div>



<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
     <a class="navbar-brand" href="/"><span>Bookers</span></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   　　 <span class="navbar-toggler-icon"></span>
 　　 </button>
     　 <div class="collapse navbar-collapse" id="navbarNavDropdown">
       　 <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>

      <li class="nav-item"> <%= link_to  '   Home  ', user_path(current_user.id), class:'nav-link text-light'  %>   </li>
      <li class="nav-item"> <%= link_to '   Users   ',  users_path, class:'nav-link text-light'  %>  </li>
      <li class="nav-item"> <%= link_to '   Books   ', books_path, class:'nav-link text-light'  %>   </li>
      <li class="nav-item"> <%= link_to "   Log out ", destroy_user_session_path, method: :delete, class:'nav-link text-light'  %>  </li>

    <% else %>

      <li class="nav-item"> <%= link_to '    Home  ',  root_path, class:'nav-link text-light'  %> </li>
      <li class="nav-item"> <%= link_to '   About   ',  homes_about_path, class:'nav-link text-light'  %>  </li>
      <li class="nav-item"> <%= link_to '   Sign Up ', new_user_registration_path, class:'nav-link text-light'  %> </li>
      <li class="nav-item"> <%= link_to '   Log in  ', new_user_session_path, class:'nav-link text-light'  %> </li>

    <% end %>
        </ul>
       </div>
     </div>
    </nav>
  </header>
  <%= yield %>
</body>
</html>




<footer>
  <div class=""></div>
<p class="text-center">CopyRight Infratop.inc</p>
 </div>
</footer>





